<<<<<<< HEAD
html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
=======
html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}
>>>>>>> 8065258c2e6a938566c8fc314911a04c1215a8d5
